:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --darkBlue: hsl(249, 10%, 26%);
    --grayishBlue: hsl(246, 25%, 77%);
    font-style: 16px;
    font-family: "Poppins";
    line-height: 1.5;
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    height: 3lh;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.2s;
    color: white;
    text-align: center;
}

body {
    background-color: var(--red);
    background-image: url(images/bg-intro-mobile.png);
    margin: 2rem;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
        background-image: url(images/bg-intro-desktop.png);
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        margin-top: 5lh;
    }
}

h1, p {
    color: white;
    text-align: center;
    width: 100%;

    @media screen and (min-width: 768px) {
        text-align: left;
        max-width: 40vw;
    }
}

h1 {
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 0.5lh;
}

.buttons_and_form, .form, .adsText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: white;
    border-radius: 10px;
    width: 90vw;
    min-width: 300px;
    max-width: 350px;
    margin-bottom: 0.5lh;
    padding: 1rem;
    gap: 1rem;

    @media screen and (min-width: 768px) {
        width: 40vw;
        min-width: 400px;
        padding: 2rem;
    }
}

p, .greenButton {
    font-weight: 400;
}

.blueButton {
    background-color: var(--blue);
    margin-bottom: 0.7rem;
}

.blueButton:hover {
    background-color: hsl(248, 28%, 59%);
}

.greenButton {
    text-transform: uppercase;
    background-color: var(--green);
    box-shadow: 0px 5px hsla(154, 51%, 43%, 0.842);
}

.greenButton:hover {
    background-color: hsl(154, 74%, 70%);;
}

.blueButton, .form {
    box-shadow: 0px 5px hsla(249, 10%, 26%, 0.3);
}

form {
    width: 100%;
}

input {
    width: 100%;
    padding-top: 1lh;
    border-radius: 5px;
    border: 1px solid var(--grayishBlue);
    display: block;
    box-sizing: border-box;
}

input:focus {
    outline: 2px solid var(--blue);
    border: none;
}

input, input:focus, input::placeholder {
    font-family: "Poppins";
    font-weight: 600;
    color: var(--red);
    padding-left: 1rem;
    padding-bottom: 1lh;
}

input::placeholder {
    color: var(--grayishBlue);
    height: 4lh;
}

.errinput:placeholder-shown {
    background-image: url("images/icon-error.svg"); 
    background-repeat: no-repeat;
    background-position: 95%;
}

span {
    color: var(--grayishBlue);
    font-weight: 500;
    font-size: 0.7rem;
    text-align: center;
}

span > a {
    color: var(--red);
    font-weight: 600;
    text-decoration: none;
}

.error {
    color: var(--red);
    font-style: italic;
    font-weight: 500;
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
    text-align: right;
    visibility: hidden;
}

.attribution {
    font-size: 11px; 
    text-align: center; 
    color: white;
}
.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
    font-weight: 600;
}